.banner {
  @apply mt-10 mb-9 flex justify-between;
  p {
    @apply absolute bottom-0 left-0 text-white;
  }
  a {
    @apply inline-block h-full w-full;
  }
  .banner-left {
    @apply relative h-[171px] w-full px-4 md:mr-6 md:h-[402px] md:w-[926px] md:px-0;
    img {
      @apply h-full w-full rounded-[20px];
    }
    p {
      @apply w-full truncate px-8 py-2 text-lg md:px-4 md:text-xl;
    }
  }
  .left-loading {
    @apply h-full w-full;
  }
  .ant-skeleton-element,
  .ant-skeleton-element .ant-skeleton-image {
    @apply h-full w-full rounded-[20px];
  }
  .ant-skeleton-element .ant-skeleton-image-svg {
    @apply h-1/2 w-1/2;
  }
  .right-lading {
    .ant-skeleton-element .ant-skeleton-image {
      @apply h-[193px] w-[250px] rounded-[20px];
    }
  }
  .banner-right {
    @apply hidden md:block;
    li {
      @apply relative;
      &:nth-child(1) {
        @apply mb-4;
      }
    }
    img {
      @apply h-[193px] w-[250px] rounded-[20px];
    }
    p {
      @apply h-[98px] px-2 py-4 text-base;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
