.list-content {
  @apply pt-[37px] pb-11 md:pt-[69px] md:pb-8;
  .list {
    a {
      @apply mb-12 flex justify-between md:mb-[3.75rem] md:border-b-[1px] md:border-graydd md:pb-[43px];
      &:last-child {
        @apply border-none;
      }
    }
  }
  .content-img {
    @apply mr-9 hidden h-[235px] w-[30%] md:block;
    img {
      @apply h-full w-full rounded-[20px];
    }
  }
  .content-text {
    @apply w-full md:w-[60%];
    h3 {
      @apply text-lg font-bold leading-[38px] text-gray3d md:text-[26px];
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .content-info {
    @apply w-full md:w-[35%];
    p {
      @apply mb-3 text-sm leading-[30px] text-gray999 md:text-base;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }
  .content-info-h5 {
    @apply block md:hidden;
    p {
      @apply mt-4;
    }
  }
  .content-info-pc {
    @apply hidden md:block;
  }
  .tags {
    @apply flex md:mt-5;
    li {
      @apply mr-4 rounded-[20px] bg-grayee px-4 py-1 text-xs text-gray666 md:text-base;
    }
  }
  .source-box {
    @apply mt-5 flex items-center justify-between text-gray999 md:mt-10 md:justify-start;
    .source,
    .time {
      @apply flex items-center justify-center;
      img {
        @apply mr-1;
      }
    }
    .source {
      @apply text-xs md:text-lg;
      img {
        @apply h-5 w-5 md:h-7 md:w-7;
      }
    }
    .time {
      @apply text-xs md:text-base;
      i {
        @apply mx-2 hidden h-[18px] w-0.5 bg-grayd8 md:inline-block;
      }
    }
  }
  .content-lading {
    @apply mb-[3.75rem] flex justify-between;
    .ant-skeleton-element {
      @apply mr-9 hidden  h-[235px] w-[350px] md:block;
    }
    .ant-skeleton-element .ant-skeleton-image {
      @apply h-full w-full rounded-[20px];
    }
    .ant-skeleton-element .ant-skeleton-image-svg {
      @apply h-1/2 w-1/2;
    }
  }
  .date-loading {
    @apply text-center text-sm text-white md:text-base;
    span {
      @apply inline-block cursor-pointer rounded-[5px] bg-gray333 px-[76px] py-2 text-center;
    }
  }
}
@media (min-width: 300px) and (max-width: 1200px) {
  .container {
    @apply px-4;
  }
  .list-content {
    .content-info {
      p {
        -webkit-line-clamp: 3;
        -webkit-line-clamp: 3;
      }
    }
  }
}
