.list-content {
  @apply rounded-[20px] bg-white px-7 py-10;
  .list {
    @apply mb-10 md:mb-[3.75rem];
    a {
      @apply flex justify-between;
    }
  }
  .content-img {
    @apply mr-9 hidden h-[235px] w-[30%] md:block;
    img {
      @apply h-full w-full rounded-[20px];
    }
  }
  .content-text {
    @apply w-full md:w-[66%];
    h3 {
      @apply truncate text-lg font-bold text-gray333 md:text-[26px];
    }
    p {
      @apply mt-5 mb-3 text-sm text-gray999 md:mt-7 md:text-lg;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .tags {
    @apply flex;
    li {
      @apply mr-4 rounded-[20px] bg-bluee6 px-4 py-1 text-xs text-blue31 md:text-base;
    }
  }
  .source-box {
    @apply mt-4 flex items-center justify-between text-gray999 md:mt-10;
    .source,
    .time {
      @apply flex items-center justify-center;
      img,
      i {
        @apply mr-1;
      }
    }
    .source {
      @apply text-xs md:text-lg;
      img {
        @apply h-5 w-5 md:h-7 md:w-7;
      }
    }
    .time {
      @apply text-xs md:text-base;
      i {
        @apply inline-block h-[22px] w-[22px] bg-icon-time bg-cover;
      }
    }
  }
  .content-lading {
    @apply mb-[3.75rem] flex justify-between;
    .ant-skeleton-element {
      @apply mr-9 hidden  h-[235px] w-[350px] md:block;
    }
    .ant-skeleton-element .ant-skeleton-image {
      @apply h-full w-full rounded-[20px];
    }
    .ant-skeleton-element .ant-skeleton-image-svg {
      @apply h-1/2 w-1/2;
    }
  }
  .date-loading {
    @apply text-center text-sm text-gray999 md:text-base;
  }
}
